%footer.page-footer.black
  .container
    .row
      .col.l6.s12
        %h5.white-text Contact information
        %p.white-text Please check out my accounts or contact me in any of the ways listed here.
      .col.l4.offset-l2.s12
        %ul
          %li
            %i.devicon-github-plain
            %a.white-text{:href => "https://github.com/satorinic", :target => "_blank"} my Git-Hub
          %li
            %i.devicon-twitter-plain.colored
            %a.white-text{:href => "https://twitter.com/?lang=en", :target => "_blank"} my Twitter
          %li
            %i.fa.fa-linkedin.fa_custom
            %a.white-text{:href => "https://www.linkedin.com/uas/login", :target => "_blank"} my LinkedIn
          %li
            %i.tiny.material-icons email
            %a.white-text{:href => "mailto:webmaster@example.com"} my Email
