%footer.page-footer.black
  .container
    .row
      .col.l6.s12
        %h5.white-text Contact information
        %p.white-text Please check out my accounts or contact me in any of the ways listed here.
      .col.l4.offset-l2.s12
        %ul
          %li
            %i.devicon-github-plain
            %a.white-text{:href => "https://github.com/satorinic"} my Git-Hub
          %li
            %i.devicon-twitter-plain.colored
            %a.white-text{:href => "https://twitter.com/?lang=en"} my Twitter
          %li
            %i.fa.fa-linkedin.fa_custom
            %a.white-text{:href => "https://www.linkedin.com/uas/login"} my LinkedIn
          %li
            %i.tiny.material-icons email
            %a.white-text{:href => "#!"} my Email
