= image_tag 'images/about/me-at-sandhamn.png'
.row
  .col.s6.offset-s6.blue.lighten-4
    %span.flow-text Welcome to my Website. Here is present myself and the project in which I have participated. I have recently made a career shift, because I wanted to become a fullstack developer. lorem ipsus dolar etc etc   
