#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.black-text.lighten-1 My Blog
      .row.center

      .row.center
      %br/
      %br/
  .parallax
    = image_tag 'backgrounds/divingphilli.png'

// On this blog I share my thoughts on coding-related issues. Feel free to comment and give me tips and feedback
