#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.black-text.lighten-1 My Blog
      .row.center

      .row.center
      %br/
      %br/
  .parallax
    = image_tag 'backgrounds/divingphilli.png'
//Continue to look for a tool that can be used to set up a blog on this site using for instance http://foundation.zurb.com/building-blocks/kits/blog.html or ano
//Maybe Medium could be used
//Put a sidebar with link to interesting developers and news sites. Maybe use RSS-feed.

//On this blog I share my thoughts on coding-related issues. Feel free to comment and give me tips and feedback
