#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.black-text.lighten-1 My coding project portfolio
      .row.center

      .row.center
      %br/
      %br/
  .parallax
    = image_tag 'images/project/hållö.png'

.container
  .section
  .row
  .col.s12.m7
    .card.small
      .card-image
        %img{:src => "images/project/atm.png"}/
        %br/
        %span.card-title.white-text ATM
      .card-content
        %p
          This was my first development project ever. Tools used was Ruby, Rspec etc
      .card-action
        %i.devicon-github-plain
        %a{:href => "https://github.com/satorinic/atm_challenge", :target => "_blank"} See the code in GitHub


  .container
    .section
    .row
    .col.s12.m7
      .card.small
        .card-image
          %img{:src => "images/project/scale.png"}/
          %br/
          %span.card-title.black-text BMI-calculator
        .card-content
          %p
            Project done second week on bootcamp Tools used  etc
        .card-action
          %i.devicon-github-plain
          %a{:href => "https://github.com/satorinic/BMI_challenge", :target => "_blank"} See the code in GitHub

  .container
    .section
    .row
    .col.s12.m7
      .card.small
        .card-image
          %img{:src => "images/project/stadsbiblioteket.png"}/
          %br/
          %span.card-title.white-text A Small Library
        .card-content
          %p
            Project done second weekend on bootcamp Tools used  etc
        .card-action
          %i.devicon-github-plain
          %a{:href => "https://github.com/satorinic/library-challenge", :target => "_blank"} See the code in GitHub

.container
  .section
  .row
  .col.s12.m7
    .card.small
      .card-image
        %img{:src => "images/project/minichef2.png"}/
        %br/
        %span.card-title.black-text Ordering Slow-Food
      .card-content
        %p
          Project done third week on bootcamp Tools used etc
      .card-action
        %i.devicon-github-plain
        %a{:href => "https://github.com/CraftAcademy/slow_food_sinatra_june2017", :target => "_blank"} See the code in GitHub

        %i.tiny.material-icons language
        %a{:href => "https://slowfood-craftacademy-july2017.herokuapp.com/", :target => "_blank"} See project online


  .container
    .section
    .row
    .col.s12.m7
      .card.small
        .card-image
          %img{:src => "images/project/CV.png"}/
          %br/
          %span.card-title.black-text Resume and coding Portfolio
        .card-content
          %p
            Project done second weekend on bootcamp Tools used  etc
        .card-action
          %i.devicon-github-plain
          %a{:href => "https://github.com/satorinic/my_portfolio", :target => "_blank"} See the code in GitHub

          %i.tiny.material-icons language
          %a{:href => "https://slowfood-craftacademy-july2017.herokuapp.com/", :target => "_blank"} See project online
