#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.black-text.lighten-1 My coding project portfolio
      .row.center

      .row.center
      %br/
      %br/
  .parallax
    = image_tag 'images/project/hållö.png'

.container
  .section
  .row
  .col.s12.m7
    .card.small
      .card-image
        %img{:src => "images/project/atm.png"}/
        %br/
        %span.card-title.black-text ATM
      .card-content
        %p


          This was my first development project ever. Tools used was Ruby, Rspec etc
      .card-action
        %i.devicon-github-plain
        %a{:href => "https://github.com/satorinic/atm_challenge"} See the code in GitHub
